html
	head
		meta charset="utf-8"
		title Честное портфолио
		link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css"
		link href="css/print.css" media="print" rel="stylesheet" type="text/css"
		/[if IE]
			link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css"
	body
		h1 Честное портфолио
		p Всё подряд, что сделал или сделаю.

		.scr скоро
		img.big src="img/instajournal.png"
		.text ≈Интерфейс, благодаря которому можно смотреть на, интерактировать с, и делиться лентой Инстаграма.
		br

		.scr полгода назад
		img.big src="img/instajour.png"
		.text Великолепный публичный терпкий инстаграм.
		br

		.scr полгода назад
		img.big src="img/original.png"
		.text Первая версия этого сайта.
		br

		.scr год назад
		img.big src="img/artcontinuum.png"
		.text Шаблоны для «Артконтинуума». Они делают аккустику и кофры.
		br

		.scr 2 годa назад
		img.big src="img/athenaze.png"
		.text Рисовал обложку для репринта учебника древнегреческого языка Athenaze.
		br

		.scr 6½ лет назад
		a href="http://arena-kuol.sitecity.ru": img.big src="img/sitecity.png"
		.text.sarcasm Идеально передающие атмосферу анимации, тёплая миди-музыка, рюшечки, тени, многоточия, орфографические ошибки.
		br

		ul#footer
			li: a href="mailto:malfermu@malfer.mu" malfermu@malfer.mu
