<head><link rel='shortcut icon' id='favicon_id' href='/icons/hate.png' /></head>
<body style='background: url("http://images2.layoutsparks.com/1/19670/sparkle-moons-stars-animation.gif")'>

<script>
  setTimeout(function() {document.getElementById('favicon_id').href='/icons/hate/p.png'}, 1000)
  setTimeout(function() {document.getElementById('favicon_id').href='/icons/hate/r.png'}, 2000)  
  setTimeout(function() {document.getElementById('favicon_id').href='/icons/hate/i.png'}, 3000)  
  setTimeout(function() {document.getElementById('favicon_id').href='/icons/hate/v.png'}, 4000)
  setTimeout(function() {document.getElementById('favicon_id').href='/icons/hate/e.png'}, 5000)
  setTimeout(function() {document.getElementById('favicon_id').href='/icons/hate/t.png'}, 6000)
</script>
  <title>Ненависть</title>
  <style>
    b { font-size: xx-large; color: red; background: white }
    pre { font-family: 'Arial' }

  </style>

  <b>Добро Пожаловать На Сайт!
  <pre>    

            <img src='http://1.bp.blogspot.com/-po1olj4eqZc/UGKkbXxPdAI/AAAAAAAAEbA/qV0AFqAQDwQ/s1600/Vector+abstract+background+star+space+animated+gifs+free+download+clipart+gif+animation+Colorful+abstract+banners+stars+Clipart+grapihc+sun+shapes+light+stars+space+bright+solar+outer+space.gif'>      Я ЗВЕЗДА      <img src='http://eric22222.files.wordpress.com/2008/10/starzoom.gif'>

  я очень тонкой натуры человек
    не трогайте меня, а то обожжётесь
      больнее и больнее с каждой секундой... (С)
