@import main

h2, h3, h4,
h5, h6
  @extend p
  @extend b

iframe
  width: 400px
  height: 225px

ul, ol
  margin-top: main(1)

li
  display: block
  font-size: main(1)
  margin-left: main(1)

body
  margin-top: 0

img
  margin-bottom: 0
  margin-top: 0

p, pre
  text-indent: 0
  margin-bottom: main(.75)

h1 a
  color: black
  &:hover
    color: lighten(black, 33%)

.time
  position: absolute
  margin-left: -60px
  //font-style: italic
  color: gray

body
  font-size: main(1)
  line-height: main(1.5)

.header
  font-size: main(2)
  line-height: main(6)

.post 
  margin-bottom: main(1.5)

.nav
  position: absolute
  margin-left: -60px
  font-weight: bold

.prev
  margin-top: main(.5)

.next
  margin-top: main(-3)

.post > p > img:last-child,
.post > p:last-child,
.post > pre:last-child
  margin-bottom: 0

em
  font-style: italic

strong
  font-weight: bold

h1
  line-height: main(2)


@media only screen and (max-width: 400px)
  .header
    margin: main(1.5) 0
    line-height: main(3)
  iframe
    width: 96%
