.highlight pre
  border: 1px solid #000
  word-wrap: break-word
  padding: 6px 10px
  line-height: 19px
  margin-bottom: 20px
  color: #f8f8e6
  background: #222
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px

  .keyword, .storage
    color: #ff0068

  .string
    color: #e3db5e

  .symbol, .constant
    color: #bb6cff

  .name.function
    color: #8dec00

  .comment
    color: #75725b

  .command
    color: #66d9df

p code,
.post > pre code
  font-family: 'PT Mono'
