@import compass/css3

*
  margin: 0
  padding: 0
  background-color: black

html,
body
  width: 100%

a img
  +transition(opacity 0.2s)
  float: left
  width: 25%
  &:hover
    +opacity(.8)

=respond($number: 1, $size: 400px)
  @media (max-width: $size * $number)
    a img
      width: 100% / $number

@for $number from 1 through 10
  +respond(11 - $number)
