@import compass/reset
@import compass/layout/grid-background
@import compass/typography/vertical_rhythm

$red: #eb3c0c

@function main($multi: 1, $base: 15px)
  @return $base * $multi

pre
  display: inline-block
  max-width: 40em
  width: 400px
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  word-wrap: break-word

body
  width: 400px
  margin: 0 auto
  margin-top: main(2)
  //+baseline-grid-background(main(1.5), lighten($red, 40%))
img
  width: 100%
  left: 0
  margin: main(1) 0

body
  font-family: "PT Serif", "Georgia", serif // transitional serifs

p, .text
  font:
    size: main(1)
  line-height: main(1.5)

p
  text-indent: main(1)
  &:first-of-type
    text-indent: 0

h1
  font:
    size: main(2)
    weight: bold
  display: block
  margin:
    bottom: main(1)

#menu
  margin:
    top: main(.5)
  li:after
    content: ","
  li:last-child:after
    content: "."

#footer
  margin:
    top: main(.5)
    bottom: main(1)

li
  display: inline-block
  font:
    size: main(.75)
  padding:
    right: main(.5)

a
  color: $red
  &:hover
    color: darken($red, 20%)

i 
  font-style: italic

b
  font-weight: bold

pre, code
  font:
    family: 'PT Mono'
    size: main(0.85)

@media only screen and (max-width: 400px)
  body
    padding: 0 2%
    width: 100%
  img, pre
    width: 96%
  pre, code
    max-width: 90%
  .header
    line-height: main(3)
